// 変数の設定
$purple: #dcc9f4;
$pink: #ffd9df;
$skyblue: skyblue;
$size: 800px;

// mixin設定（middle）
@mixin middle_position($num) {
    position: absolute;
    top: $num;
    left: $num;
}

// mixin設定（bottom）
@mixin bottom_position($num) {
    position: relative;
    left: $num;
}

// 全ての要素を中央へ寄せる
body {
    margin: 0 20%;
}

#top {
    width: $size;
    margin: 20px 0px 20px 0px;
    display: flex;
    background-color: $purple;

    p.top-child {
        width: $size*0.2;
        background-color: $pink;
        border: solid 2px $purple;
        text-align: center;
        position: relative;
        left: 20%;

    }
}

#middle {
    width: $size;
    height: $size;
    background-color: $pink;
    position: relative;
    margin-bottom: 20px;

    #middle-child01 {
        width: 200px;
        height: 200px;
        background-color: #87ceeb;
        @include middle_position(100px)
    }

    #middle-child02 {
        width: 200px;
        height: 200px;
        background-color: #87ceeb;
        @include middle_position(300px)
    }

    #middle-child03 {
        width: 200px;
        height: 200px;
        background-color: #87ceeb;
        @include middle_position(500px)
    }
}

#bottom {
    width: 800px;
    height: 300px;
    background-color: #87ceeb;

    #bottom-child01 {
        width: 400px;
        height: 100px;
        background-color: #e5dcf0;
    }

    #bottom-child02 {
        width: 400px;
        height: 100px;
        background-color: #e5dcf0;
        @include bottom_position(200px)
    }

    #bottom-child03 {
        width: 400px;
        height: 100px;
        background-color: #e5dcf0;
        @include bottom_position(400px)
    }

}
